.alivio {
  color: #01996d;
  width: 79.565px;
  height: 23.04px;
}

li {
  color: #292929;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.not-last {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
}

.start-free-trial {
  border-radius: 4px;
  border: 1px solid #01996d;
  background: #01996d;
  display: inline-flex;
  padding: 3px 40px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: rgb(255, 255, 255);
}

header {
  align-items: center;
  text-align: center;
  background: #FFF;
}

ul,
ol {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
}

.hero-h1 {
  color: #01996d;
  font-family: Georgia;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text {
  color: #484848;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.4px; /* 31.4px */
}

.hero-button {
  display: inline-flex;
  padding: 20px 50px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 4px;
  border: 1px solid #01996d;
  background: #01996d;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
}

.hero {
  background: url(../../img/hero-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.how-it-works-h2 {
  color: #424242;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 37.68px */
  margin-bottom: 0;
}

.understand {
  color: #01996d;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%; /* 78.5px */
  margin-top: 0;
  margin-right: 136px;
}

.how-it-works {
  margin-top: 19px;
}

.content {
  display: flex;
  flex-direction: row;
}