@mixin flexible() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonBorder($border, $borderRadius) {
  color: #fff;
  background-color: #000;
  border: $border;
  border-radius: $borderRadius;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 30px;
}

@mixin adaptive($viewport) {
  $mobile: 320px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $viewport == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $viewport == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $viewport == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $viewport == everything {
    @media screen and (max-width: $desktop) {
      @content;
    }
  }
}

// мой миксин он должен сам оптимизировать базовые штуки под девайсы
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin responsive($breakpoint: $breakpoint-mobile) {
  @if $breakpoint >= $breakpoint-mobile and $breakpoint <= $breakpoint-tablet {
    @media (max-width: $breakpoint) {
      @content;
    }
  }

  @else if $breakpoint > $breakpoint-tablet and $breakpoint <= $breakpoint-desktop {
    @media (min-width: $breakpoint) {
      @content;
    }
  }

  @else if $breakpoint > $breakpoint-desktop {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin optimize-for-devices {
  // Оптимизация размера текста
  font-size: 16px; // Размер текста по умолчанию
  @include responsive($breakpoint-mobile) {
    font-size: 14px; // Размер текста для мобильных устройств
  }
  @include responsive($breakpoint-tablet) {
    font-size: 18px; // Размер текста для планшетов
  }
  @include responsive($breakpoint-desktop) {
    font-size: 20px; // Размер текста для ПК
  }

  // Оптимизация размера изображений
  img {
    max-width: 100%; // Изображение не будет выходить за границы родительского контейнера
    height: auto; // Сохранение пропорций изображения
  }

  // Оптимизация размера заголовков
  h1 {
    font-size: 24px; // Размер заголовка по умолчанию
    @include responsive($breakpoint-mobile) {
      font-size: 20px; // Размер заголовка для мобильных устройств
    }
    @include responsive($breakpoint-tablet) {
      font-size: 28px; // Размер заголовка для планшетов
    }
    @include responsive($breakpoint-desktop) {
      font-size: 32px; // Размер заголовка для ПК
    }
  }
}
