:root {
    --text-color: #757575;
    --accent-color: #2196f3;
    --heading-color: #212121;
    --background-color: #ffffff;
    --team-color: #f5f4fa;
    --black: #000000;
    --hero--background: #2f303a;
  }