/* хедер */

.header {
    display: flex;
    /* width: 1600px; */
    height: 80px;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .about {
    display: block;
  }
  
  .nav {
    display: flex;
  }
  
  .zxzxc {
    color: #212121;
  }
  .nav__list {
    display: flex;
    align-items: center;
  
    margin-right: 345px;
  }
  
  .nav__list--item:not(:last-child) {
    margin-right: 50px;
  }
  
  .contacts-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header__contacts {
    display: flex;
    align-items: center;
  }
  
  .contact-link {
    width: 122px;
    height: 16px;
  }
  
  .logo {
    width: 145px;
    height: 31px;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 31px;
  
    letter-spacing: 0.03em;
  
    color: var(--black);
  
    margin-right: 95px;
    margin-left: 215px;
  }
  
  .logo--web {
    color: var(--accent-color);
  }
  
  .nav-link {
    width: 72px;
    height: 16px;
    position: relative;
  
    padding-bottom: 30px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    color: var(--heading-color);
  }
  
  .bottom-line::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
  
    width: 48px;
    height: 4px;
  
    border-radius: 2px;
  
    background-color: var(--accent-color);
  }
  
  .active-link {
    color: var(--accent-color);
  }





  