.hero{
    background: url(../../img/hero-background\ copy.png);
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}
.container{
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}