.how-it-works-h2 {
  color: #424242;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 37.68px */
  margin-bottom: 0;
}
.understand {
  color: #01996d;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%; /* 78.5px */
  margin-top: 0;
  margin-right: 136px;
}
.how-it-works{
    margin-top: 19px;
}






// eikqwokqjoirwejqiwejmoke

// display flex)

.content{
    display: flex;
    flex-direction: row;
    // justify-content: start;
    // align-items: center;
}