.hero {
  padding-top: 175px;
  padding-bottom: 300px;

  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background: url(../../img/hero.jpg) cover/center no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../img/hero-2x.jpg);
  }
}
